%h1 Listing fighters

%table
  %thead
    %tr
      %th Name
      %th Nickname
      %th From
      %th Age
      %th Height
      %th Weight
      %th Gym
      %th Type
      %th
      %th
      %th

  %tbody
    - @fighters.each do |fighter|
      %tr
        %td= fighter.name
        %td= fighter.nickname
        %td= fighter.from
        %td= fighter.age
        %td= fighter.height
        %td= fighter.weight
        %td= fighter.gym
        %td= fighter.type
        %td= link_to 'Show', fighter
        %td= link_to 'Edit', edit_fighter_path(fighter)
        %td= link_to 'Destroy', fighter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fighter', new_fighter_path
